.headline-wrapper {
    max-width: $section-max-width;
    margin: 0 auto;
    padding: 40px;
    margin-top: 40px;

    @include responsive-width(0, $break-md) {
        padding: 10px;
    }

    @include responsive-width($break-md) {
        padding: 40px;
    }
}

h2 {
    font-size: 38px;
    margin-bottom: 42px;
    margin: 0;
}

h3 {
    font-size: 28px;
    margin-bottom: 40px;
}