nav.navigation-wrapper {
    position: fixed;
    z-index: 5;
    left: 0;
    right: 0;
    top: 0;
    height: $navigation-size-desktop;
    background-color: transparent;

    @include transition(background-color .3s, height .3s, box-shadow .3s);

    &.scrolled {
        height: $navigation-size-desktop - 50px;
        background-color: $color-white;
        box-shadow:
            0 3px 8px rgba(0,0,0,0.12),
            0 3px 8px rgba(0,0,0,0.1);
    }

    .menu-list {
        width: 100%;
        height: 100%;
        max-width: $section-max-width;
        margin: 0 auto;

        @include display-flex;
        @include flex-direction(row);
        @include justify-content(center);
    }

    .list-item {
        height: 100%;
        text-align: center;
        font-family: 'Lato';
        font-weight: 400;
        letter-spacing: .5px;

        @include display-flex;
        @include align-items(center);
        @include justify-content(center);
        @include transition(color .3s, font-size .3s);

        @include responsive-width(0, $break-md) {
            font-size: 12px;
            padding: 0 5px;
            width: auto;
        }

        @include responsive-width($break-md) {
            font-size: 16px;
            padding: 0 40px;
            width: 100%;
        }

        span.label {
            display: block;
            cursor: pointer;
            height: 100%;
            color: $color-white;
            border-bottom: 2px solid transparent;

            @include display-flex;
            @include align-items(center);
            @include justify-content(center);
            @include box-sizing(border-box);
            @include transition(color .3s, border-color .3s);

            @include responsive-width(0, $break-md) {
                padding: 0 5px;
            }

            @include responsive-width($break-md) {
                padding: 0 30px;
            }
        }

        span.label.active {
            color: $color-teal;
            border-color: $color-teal;
        }
    }

    &.scrolled .list-item {
        @include responsive-width(0, $break-md) {
            font-size: 12px;
        }

        @include responsive-width($break-md) {
            font-size: 14px;
        }
    }

    &.scrolled .list-item span.label:not(:hover):not(.active) {
        color: $color-dark-blue;
    }

    &.scrolled .list-item span.label:hover {
        color: $color-teal;
    }
}