// Colors
$color-white: #fff;
$color-black: #2e2e2e;
$color-dirty-white: #EDF1F2;
$color-light-blue: #E7ECEE;
$color-dark-blue: #28384B;
$color-light-gray: #f5f6fa;
$color-teal: #1BACA2;

// Sizes
$navigation-size-desktop: 100px;
$section-max-width: 1280px;
$section-max-width-small: 800px;